/__pycache__/*
secrets.json
User_function/coplate_project/coplate/__pycache__
User_function/coplate_project/coplate/migrations/__pycache__
User_function/podomarket_project/podomarket/__pycache__
User_function/podomarket_project/podomarket/migrations/__pycache__
User_function/coplate_project/__pycache__